.Settings {
    @import "@styles";

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &__row {
        padding: size(32px) size(24px);

        & + & {
            border-top: 1px solid $black;
        }
    }

    &__title {
        text-align: center;
        padding-bottom: size(24px);
        font-size: size(32px);
        font-weight: 900;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-info {
            border: size(4px) solid $light;
            width: size(50px);
            height: size(50px);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: size(24px);
        }
    }

    &__roles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__total {
        background: rgba($black, .8);
        padding: size(24px);
        border-radius: size(24px);
        box-shadow: 1px 2px 4px rgba(black, .6);
    }

    &__next {
        margin-top: size(24px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button-next {
        background: rgba($red, .9);
        padding: size(24px) size(48px);
        border-radius: size(24px);
        text-shadow: none;
    }

    &__description {
        font-weight: 800;
        margin-top: size(16px);
        font-size: size(16px);

        span {
            display: inline-flex;
            padding: size(12px);
        }
    }

    &__content {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background: rgba($red, .9);
            padding: size(24px) size(48px);
            border-radius: size(24px);
            text-shadow: none;
            border: none;
            color: $white;
            font-weight: 700;
            font-size: size(32px);
        }
    }
}