@import "@styles";

.Card {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: size(66px);
    margin-top: 12px;
    margin-bottom: 12px;

    font-weight: 900;
    transition: all 500ms ease;

    &.is-closed {
        background: $light !important;
    }

    &.is-red {
        background: $red;
    }

    &.is-black {
        background: $black;
    }
}