.Checkbox {
    @import "@styles";
    $root: &;

    display: flex;
    align-items: center;
    margin-bottom: size(24px);
    font-size: size(24px);
    font-weight: 600;
    padding: size(12px) 0;

    &__icon {
        $size: size(40px);
        width: $size;
        height: $size;
        border: 2px solid $light;
        border-radius: size(12px);
        margin-right: size(12px);
    }

    &.is-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.is-checked {

        #{$root}__icon {
            background: $red;
            border-color: $black;
        }
    }
}